<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <title>Sign Up</title>
</head>
<body>
{% if forms.non_field_errors %} 
  {% for error in forms.non_field_errors %}
    <div
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
    role="alert">
    <p class="block sm:inline">{{ error.password }}</p>
    </div>
  {% endfor %} 
{% endif %} 

{% load crispy_forms_tags %}

<div style="width: 50%; margin: auto;">
<h1 style="text-align: center; margin-top: 60px; color: green; font-size: 40px">Sign Up</h1>
<div style="width:50%; margin: auto; color: black; margin-top: 0px;">
  -----------------------------------------------------------
</div>

  <form method= "POST" style="margin-bottom: 50px; margin-top: 50px;" novalidate>
    {% csrf_token %}

    {{forms|crispy}} 

    <input class="btn btn-primary" type="submit" value="Register"><br><br>
    <a style="text-decoration: None;" href="{% url 'login' %}">Already have an account? click here</a>
  </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>