{% extends 'base.html' %}
{% load static %}
{% block title %}Create Post{% endblock title %}
{% block join_css %}
<link rel="stylesheet" href="{% static 'css/create_post.css' %}">
{% endblock join_css %}
{% block body %}
    <h1 style="text-align: center; padding: 15px; color: green; font-size: 80px">
        Create Post 
    </h1>
    <br>
    {% load crispy_forms_tags %}
    <div style="width: 50%; margin: auto;">
        <form method= 'POST' style="margin-bottom: 50px;" enctype="multipart/form-data">
            {% csrf_token %}

            {{forms|crispy}}
            <input class="btn btn-primary" type="submit" value="Create Post">
            <a href="{% url 'home' %}" class="btn btn-primary">Cencel</a>

        </form>

    </div>
{% endblock body %}