{% extends 'base.html' %}
{% block title %}Show Post{% endblock title %}
{% load static %}
{% block join_css %}
<link rel="stylesheet" href="{% static 'css/show_crud.css' %}">
{% endblock join_css %}
{% block body %}

<div style="margin-bottom: 70px;">
<h1 style="margin-top: 10px; margin-left: 50px;">
  User: {{user.username}}
</h1>
  <table class="table table-success table-striped" style="width:95%; margin: auto; text-align: center; margin-top: 50px;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Course</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th scope="col">More Info</th>
      </tr>
    </thead>
    <tbody>
    {% for crud in cruds %}
      <tr>
       
        <th scope="row">{{crud.id}}</th>
        <td> <img src="{{crud.image.url}}" alt="image" class="image1"></td>
        <td> {{crud.name}} </td>
        <td> {{crud.phone}} </td>
        <td> {{crud.email}} </td>
        <td> {{crud.course}} </td>
        <td> <a href="{% url 'update_crud' crud.id %}" class="btn btn-warning">Update</a> </td>
        <td> <a href="{% url 'delete_crud' crud.id %}" class="btn btn-danger">Delete</a> </td>
        <td> <a href="{% url 'more_info' crud.id %}" class="btn btn-primary">MoreInfo</a> </td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}